<div class='tripulacion-container'>
  <div class='tripulacion-card'>
    <div class='logo'>✈️</div>
    <h1>AEROLINEA LOS PRIMOS</h1>
    <h2>CREAR TRIPULACION</h2>

    <div class='form-group'>
      <label>Piloto *</label>
      <select [(ngModel)]='seleccion.piloto'>
        <option [ngValue]='null'>Seleccione un piloto</option>
        <option *ngFor='let p of pilotos' [ngValue]='p.id'>{{ p.nombre }}</option>
      </select>
    </div>

    <div class='form-group'>
      <label>Copiloto *</label>
      <select [(ngModel)]='seleccion.copiloto'>
        <option [ngValue]='null'>Seleccione un copiloto</option>
        <option *ngFor='let p of copilotos' [ngValue]='p.id'>{{ p.nombre }}</option>
      </select>
    </div>

    <div class='form-group'>
      <label>Ingeniero de Vuelo *</label>
      <select [(ngModel)]='seleccion.ingeniero'>
        <option [ngValue]='null'>Seleccione un ingeniero</option>
        <option *ngFor='let p of ingenieros' [ngValue]='p.id'>{{ p.nombre }}</option>
      </select>
    </div>

    <div class='form-group'>
      <label>Tripulante de Cabina 1 *</label>
      <select [(ngModel)]='seleccion.cabina1'>
        <option [ngValue]='null'>Seleccione tripulante</option>
        <option *ngFor='let p of cabina' [ngValue]='p.id'>{{ p.nombre }}</option>
      </select>
    </div>

    <div class='form-group'>
      <label>Tripulante de Cabina 2 *</label>
      <select [(ngModel)]='seleccion.cabina2'>
        <option [ngValue]='null'>Seleccione tripulante</option>
        <option *ngFor='let p of cabina' [ngValue]='p.id'>{{ p.nombre }}</option>
      </select>
    </div>

    <div class='form-group'>
      <label>Tripulante de Cabina 3 *</label>
      <select [(ngModel)]='seleccion.cabina3'>
        <option [ngValue]='null'>Seleccione tripulante</option>
        <option *ngFor='let p of cabina' [ngValue]='p.id'>{{ p.nombre }}</option>
      </select>
    </div>

    <p class='error' *ngIf='error'>{{ error }}</p>
    <p class='success' *ngIf='success'>{{ success }}</p>
    <button (click)='guardar()'>GUARDAR</button>
  </div>
</div>